<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Alterar de filmes</h1>

    <form action="/filme/update" method="get">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" value="{{filme.nome}}">
        <br>
        <label for="anoLancamento">Ano Lancamento:</label>
        <input type="text" name="anoLancamento" id="anoLancamento" value="{{filme.anoLancamento}}">
        <br>
        <label for="valorDeCompra">Valor de compra:</label>
        <input type="text" name="valorDeCompra" id="valorDeCompra" value={{filme.valorDeCompra}}>
        <br>
        <input type="checkbox" name="disponivel" id="disponivel" {% if filme.disponivel %} checked {% endif %}>
        <label for="disponivel">Disponivel ?</label>
        <br>
        <input type="hidden" name="index" value="{{index}}">
        <button type="submit">Alterar</button>
    </form>
</body>

</html>