{% extends "comum/template.html" %}
{% block conteudo %}
<h1 class="text-center">{{titulo}}</h1>
<form action="/filme/update" method="POST" class="needs-validation">
    <input type="hidden" name="index" id="index" value="{{index}}">
    <div class="row">
        <div class="col-md-12">
            <label for="nome">Título</label>
            <input type="text" class="form-control" name="nome" id="nome" value="{{filme.nome}}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="anoLancamento">Ano lançamento</label>
            <input type="number" class="form-control" name="anoLancamento" id="anoLancamento" value="{{filme.anoLancamento}}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="valorCompra">Valor de compra</label>
            <input type="text" class="form-control" name="valorCompra" id="valorCompra" value="{{filme.valorDeCompra}}" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <label for="disponivel">Disponivel</label>
            <input type="checkbox" class="fform-check-input" name="disponivel" id="disponivel" {% if filme.disponivel %}
                checked {% endif %}>
        </div>
    </div>
    <hr>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Alterar</button>
    </div>
</form>
{% endblock %}