{% extends "comum/template.html" %}
{% block conteudo %}
<h1 class="text-center">{{titulo}}</h1>
<form action="/filme/cadastrar" method="POST" class="needs-validation">
    <div class="row">
        <div class="col-md-12">
            <label for="nome">Título</label>
            <input type="text" class="form-control" name="nome" id="nome" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="anoLancamento">Ano lançamento</label>
            <input type="number" name="anoLancamento" id="anoLancamento" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="valorCompra">Valor de compra</label>
            <input type="text" name="valorCompra" id="valorCompra" class="form-control" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <label for="disponivel">Disponivel</label>
            <input type="checkbox" name="disponivel" class="fform-check-input" id="disponivel">
        </div>
    </div>
    <hr>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
    </div>
</form>
{% endblock %}