{% extends "comum/corpoPaginas.html" %}
{% block conteudo %}

<div class="container">
    <h1 class="text-center">Lista de Filmes</h1>
    <a class="btn btn-primary" href="/filme/cadastro">Adicionar novo Filme</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano lançamento</th>
                <th>Disponivel</th>
                <th>Valor de compra</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for filme in listaFilmes %}
            <tr>
                <td>{{filme.nome}}</td>
                <td>{{filme.anoLancamento}}</td>
                <td>{{filme.disponivel}}</td>
                <td>R$ {{filme.valorDeCompra}}</td>
                <td>
                    <a class="btn btn-outline-danger" href="{{url_for('excluirFilme',index=loop.index0) }}">Excluir</a>
                    <a class="btn btn-outline-warning" href="{{url_for('exibirTelaAlterarFilme',index=loop.index0)}}">Alterar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}