{% extends "comum/template.html" %}
{% block conteudo %}
<h1 class="text-center">{{titulo}}</h1>
<div class="row text-right">
    <div class="col-md-12">
        <a class="btn btn-primary" href="/filme/novo" role="button">Adicionar Filme</a>
    </div>
</div>
<br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Ano Lançamento</th>
                <th scope="col">Valor compra</th>
                <th scope="col">Disponibilidade</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for filme in listaFilmes %}
            <tr>
                <td>{{filme.nome}}</td>
                <td>{{filme.anoLancamento}}</td>
                <td>R$ {{filme.valorDeCompra}}</td>
                <td>{{filme.disponivel}}</td>
                <td>
                    <!-- <a href="">Visualizar</a>
                    <br> -->
                    <a href="{{url_for('alterarFilme', index=loop.index0)}}">Alterar</a>
                    <br>
                    <a href="{{url_for('excluirFilme',index=loop.index0)}}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}