<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Filmes</h1>
    <a href="">Adicionar novo Filme</a>
    <table>
        <tr>
            <th>Nome</th>
            <th>Ano lançamento</th>
            <th>Disponivel</th>
            <th>Valor de compra</th>
            <th>Ações</th>
        </tr>
        {% for filme in listaFimes %}
        <tr>
            <td>{{filme.nome}}</td>
            <td>{{filme.anoLancamento}}</td>
            <td>{{filme.disponivel}}</td>
            <td>R$ {{filme.valorDeCompra}}</td>
            <td>
                <a href="">Excluir</a>
                <a href="">Alterar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>