<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/singin.css">
  <title>Document</title>
</head>

<body class="text-center">

  <main class="form-signin">
    <form method="POST" action="/autenticar">
      <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="mb-4 bi bi-film"
        viewBox="0 0 16 16">
        <path
          d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z">
        </path>
      </svg>
      <h1 class="h3 mb-3 fw-normal">Acesso Zezinho Locadora</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="login" name="login" placeholder="name@example.com">
        <label for="login">Login</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
        <label for="senha">Senha</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Logar</button>

    </form>
    {% with messages = get_flashed_messages() %}
						{% if messages %} 
							<ul id="messages" class="list-unstyled">
							{% for message in messages %}
								<li class="alert alert-danger">{{ message }}</li>
							{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
  </main>
</body>

</html>